#header {
    position: relative;
}

.Header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #f2f2f2;
}

.header-text {
    font-size: 3rem;
    font-weight: 600;
    font-family: serif;
}

.header-text2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: -3rem;
    font-family: serif;
}

.header-text3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: -1rem;
    font-family: serif;
}

.header-text3 span {
    color: red;
}

.Header-left {
    display: flex;
    justify-content:center;
    align-items: center;
}

.small-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* .icon {
    margin-top: 2rem;
    background: red;
    width: 3rem;
    height: 3rem;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
} */

/* .icon a {
    position: absolute;
    margin-left: 0.4rem;
    margin-top: 0.3rem;
    color: white;
} */

.button {
    font-size: 2.3rem;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
    border: 2px solid;
    border-radius: 15px;
    margin-top: 2rem;
    font-weight: 500;
    padding: 15px 18px;
    background: red;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-drive {
    background: transparent;
    color: white;
    margin-top: 2rem;
    background: red;
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid red;
    border-radius: 50%;
    cursor: pointer;
}
